{% extends "base.html" %}
  {% block footer %}
        &copy; Copyright 2008 by 12344f

    {% endblock %}

    {% block qwerty %}
         q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
    {% endblock %}


    {% block qwerty2 %}
         q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
 q w e r   q w e r   q w e r   q w e r   q w e r   q w e r
    {% endblock %}
