{% extends "base.html" %}

{% block h1 %}Сайт:{% endblock %}
{% block main %}

<h1>{{ result }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
      {% for elem in row %}
        <tr>
          <td>ID</td>
          <td>{{ elem.id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ elem.name }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ elem.created_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<h2 class="mt-5 mb-3">Проверки</h2>

<form method="post" action="/urls/1/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
      <tbody>

    </tbody>
    </table>
  </div>


{% endblock %}
