{% extends "base.html" %}

{% block main %}

{% for elem in row %}

<h1>Сайт: {{ elem.name }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>

        <tr>
          <td>ID</td>
          <td>{{ elem.id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ elem.name }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ elem.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfor %}
{% endblock %}


{% block checks %}
<h2 class="mt-5 mb-3">Проверки</h2>


<form method="post">

    <input name="data_post" type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>

  {% for elem in url_id_row %}
  <tbody>
      <tr>
        <th>{{ elem.id }}</th>

        {% if elem.status_code or elem.h1 or elem.title or elem.description %}
            <th>{{ elem.status_code }}</th>
            <th>{{ elem.h1 }}</th>
            <th>{{ elem.title }}</th>
            <th>{{ elem.description }}</th>
        {% else %}
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        {% endif %}

        <th>{{ elem.created_at }}</th>
      </tr>
  </tbody>
    {% endfor %}


    </thead>
      <tbody>

    </tbody>
    </table>
  </div>
{% endblock %}
